body {
  
  background:url(/system/files/1/original/bkg.png) repeat 0 0;
}
header#topHead {
        border-bottom:1px solid #66625f;
        position:relative;
}

header#topHead .magmaLogo {
        position:absolute;
        left: -20px;
}

header#topHead nav {
        font-family: 'Ubuntu Mono', sans-serif;
        text-transform:uppercase;
        margin:55px 0 18px 0;
}

header#topHead nav ul {
        margin:0;
        padding:0;
}

header#topHead nav li {
        float:right;
        list-style-type:none;
        margin-left:20px;
}

header#topHead nav li a {
        color:#202020;
        text-decoration:none;
}

header#topHead nav li a.selected {
        color:#ed8b09;
}