.row
  .span4
    %ul
      - @translations.each do |translation|
        %li
          - clazz = translation == @translation ? 'selected' : ''
          = link_to "#{translation}", content_path(translation), class: clazz
  .span8
    = form_tag :translations, url: content_path(@translation), method: :post do
      = select_tag @translation
