.center.main-section
  .main-header
    = image_tag 'Image_crowd.png'
  .content
    .inner-section
      .half
        %p
          = image_tag "sponsors/crowd.svg"
          Somos una consultoría líder de Ruby on Rails establecida en México. Actualmente hacemos negocios con Startups de los Estados Unidos. Nos especializamos en crear y crecer aplicaciones de Rails, aumentando tu equipo de TI en sitio o remoto. Elegimos nuestros proyectos cuidadosamente, porque solo trabajamos con compañias en que creemos.
      .clear
