.center.main-section
  .main-header
    = image_tag 'Image_crowd.png'
  .content
    .inner-section
      .half
        = image_tag "sponsors/github.svg"
        %p= t('magmazine.sponsors.sponsoring.spon3')
      .clear
