.center.main-section
  .main-header
    = image_tag 'Image_crowd.png'
  .content
    .inner-section
      .half
        %p
          = image_tag "sponsors/heroku.svg"
          Heroku (pronounced her-OH-koo) is a cloud application platform – a new way of building and deploying web apps. Our service lets app developers spend 100% of their time on their application code, not managing servers, deployment, ongoing operations, or scaling.Learn more about our architecture, pricing, and add-ons ecosystem. Heroku was founded in 2007 by Orion Henry, James Lindenbaum, and Adam Wiggins.
      .clear
