Dr. Nic gave an inspiring talk that was looking to encourage everyone in the room to Go fast as a developer.

When you start looking back at your code and still think it's really good, then, you've peaked as a developer.

Perhaps one of the outstanding piece of advice that he gave us: "You can't write today's code if you are stuck on yesterday's problems".

He told the story of how whenever a new gem, language, framework came out, he would check if there existed a TextMate Bundle, if it didn't, then, he'd just code it.

His message was clear, the people that do open source are people just like you and me. All you have to do is pick up the keyboard and just start something. At some point, someone will join your project and will collaborate with you.