First, Scott Chacon gave us a little taste of the culture at Github. There's a lot of cool things going on in that office. One of the things worth highlighting is that most of the people don't have a specific workspace. There's tables everywhere so you can just sit wherever you want.

For the people that can't do this often for any particular reason, they still promote rotation every month or so.

They have themed meeting rooms and a lot of space that can be use for all the githubers to have fun while they work.

There are NO work schedules, NO meetings, NO limit on days off... this all helps shape the culture of the Githubbers.