%div{ class: "aaron-keynote", style: 'display: none; width: 300px; height: 300px; position: relative; left: 400px; bottom: 210px;'}
  %script.speakerdeck-embed{:async => "", "data-id" => "4fd0b88d3bb27c001f01d7b1", "data-ratio" => "1.299492385786802", :src => "//speakerdeck.com/assets/embed.js"}
