.nic{ class: "drnic-keynote", style: 'display: none; width: 300px; height: 300px; position: relative; left: 400px; bottom: 210px;'}
  %script.speakerdeck-embed{:async => "", "data-id" => "4fe0a6246590c5002200398a", "data-ratio" => "1.7777777777777777", :src => "//speakerdeck.com/assets/embed.js"}
