.nic-slides{:href => "#nic-slides"}
#nic-slides{style: 'visible: hiden; width:400px; height: 400px; position: absolute; left: 20%; top:-400px;'}
  %script.speakerdeck-embed{:async => "", "data-id" => "4fe0a6246590c5002200398a", "data-ratio" => "1.7777777777777777", :src => "//speakerdeck.com/assets/embed.js"}
