%footer#footer
  .container
    %ul#sponsors-list
      %li
        %a{:href => "http://www.crowdint.com", :target => "_blank"}
          %img{:alt => "crowdint logo", :src => "/images/crowd_footer.png"}/
      %li
        %a{:href => "http://www.hybridgroup.com", :target => "_blank"}
          %img{:alt => "hybrid group logo", :src => "/images/thehybrid_logo.png"}/
      %li
        %a{:href => "http://www.billfloat.com/", :target => "_blank"}
          %img{:alt => "billfloat", :src => "/images/billfloat.png"}/
      %li
        %a{:href => "http://www.github.com", :target => "_blank"}
          %img{:alt => "github", :src => "/images/github_home.png"}/
      %li
        %a{:href => "http://www.heroku.com/", :target => "_blank"}
          %img{:alt => "heroku", :src => "/images/heroku.png"}/
      %li
        %a{:href => "http://www.nearsoft.com/", :target => "_blank"}
          %img{:alt => "nearsoft", :src => "/images/nearsoft_Logo.jpg"}/
      %li
        %a{:href => "http://www.tacitknowledge.com/", :target => "_blank"}
          %img{:alt => "tacit knowledge", :src => "/images/tacid-knowledge.png"}/
  = render "partials/google"
