.scott-slides{:href => "#scott-slides"}
#scott-slides{style: 'width:800px; height: 600px;position: absolute; left: 20%; top:-400px;'}
  %script.speakerdeck-embed{:async => "", "data-id" => "4fe096f5324a69001f001091", "data-ratio" => "1.299492385786802", :src => "//speakerdeck.com/assets/embed.js"}

