.scott-slides
#scott-slides{style: 'display:none;'}
  %script.speakerdeck-embed{:async => "", "data-id" => "4fe096f5324a69001f001091", "data-ratio" => "1.299492385786802", :src => "//speakerdeck.com/assets/embed.js"}

