%section.span-24.mainContent.coverM
  %img{:alt => "edición noviembre - november issue", :height => "520", :src => "images/cover.png", :width => "950"}
    %ul.spam-24.subTitles
      %li
        %a{:href => "es/editorial"} Español
      %li
        %img{:alt => "star", :height => "21", :src => "images/star.png", :width => "23"}/
      %li
        %a{:href => "en/editorial"} English
//= render 'en/seo'
