The talk that almost everyone in the world of Rails was wating for. Aaron Patterson talking about some of the new features that are coming on Rails 4.

Perhaps, the most important thing that he showed was the Queue API, and its going to be awesome. Once its implemented, no matter what Queing system you'll be using in the background, the code on your Rails app will always remain the same as you'll be talking to Rails, then Rails will talk to the different Queing system. Switching queues will be easier than ever.

He also showed some of the features that are on his personal wishlist, like Streaming and Rails.js, which would unify everything from the server to the browser.