%li
  %a{:href => "/es/comunidad"} Community
%li.spacer
  |
%li
  %a{:href => "/en/sponsor"} Sponsors
%li.spacer
  |
%li
  %a{:href => "/en/keynote"} Keynotes
%li.spacer
  |
%li
  %a{:href => "/en/gallery"} Gallery
%li.spacer
  |
%li
  %a{:href => "/en/infography"} Magma in Numbers
%li.spacer
  |
%li
  %a.selected{:href => "/en/editorial"} Editorial
%li.spacer
  |
%li
  %a{:href => "/"} Cover
