%li
  %a{:href => "/es/comunidad"} Community
%li
  %a{:href => "/en/sponsor"} Sponsors
%li
  %span |
%li
  %a{:href => "/en/tweets"} Retrospective
%li
  %span |
%li
  %a{:href => "/en/article"} Article
%li
  %span |
%li
  %a{:href => "/en/gallery"} Gallery
%li
  %span |
%li
  %a{:href => "/en/infography"} Magma in Numbers
%li
  %span |
%li
  %a.selected{:href => "/en/editorial"} Editorial
%li
  %span |
%li
  %a{:href => "/"} Cover
