.center.main-section
  .main-header
    = image_tag 'Image_crowd.png'
  .content
    .inner-section
      .half
        %p
          = image_tag "sponsors/rubycentral.svg"
          Ruby Central es una organización dedicada al soporte y mantenimiento de Ruby. Ellos organizan, anualmente, las conferencias de RubyConf y Railsconf y adicionalmente, administran rubygems.org
      .clear
