.center.main-section
  .main-header
    = image_tag 'Image_crowd.png'
  .content
    .inner-section
      .half
        %p
          = image_tag "sponsors/allies.svg"
          Software Allies is a cloud consultant and solution provider based in the US with offices in Texas and Mexico. Our diverse team of experts offers services for application development, quality assurance, implementation, integration, design and training. By creating solutions on the best cloud platforms available, you can rest easy knowing your cloud applications are on robust systems. Using an agile methodology with industry-leading technologies and platforms, we work closely with our clients to produce great solutions together!
      .clear