- content_for :seo do
  %title :: Magmazine ::
  %meta{:content => "MagmaRails emagazine, Mexican Ruby y Ruby on Rails conferences.", :name => "description"}/
  %meta{:content => "magazine, web, development, ruby, rails, agile, vim, méxico, colima, conferences", :name => "keywords"}/