La Conferencia que casi todo el mundo de Rails estaba esperando. Aaron Patterson hablando sobre algunas de las nuevas funciones que vendrán en Rails 4.

Tal vez, lo más importante que mostró fue el Queue API, y se nota que ¡será asombroso!  Una vez implementado, no importa qué sistema de Queing uses en el background, el código de tu app de Rails siempre permanecerá igual ya que estarás hablándole a Rails, y a su vez, Rails se comunicará con el Queing system.  Cambiar de queues será más fácil que antes.

Él también nos mostró algunos de los features que están en su lista de deseos personal, como Streaming y Rails.js, lo cual unificaría todo del servidor al browser.
