.center.main-section
  .main-header
    = image_tag 'Image_crowd.png'
  .content
    .inner-section
      .half
        %p
          = image_tag "sponsors/ey.svg"
          Engine Yard es líder en Plataforma como Servicio (Paas), potenciando la innovación en aplicaciones de software mucho más rápido, sencillo y a bajo costo. Con profunda experiencia técnica, poderosa infraestructura adecuadamente orquestada, alto soporte a la comunidad de software libre y con servicio de primer mundo, Engine Yard proveé una solución comercial completa en la cuál participan desarrolladores, quienes se concentran en crear aplicaciones grandiosas, en vez de manejar su plataforma. Miles de consumidores en 58 países, desde startups con explosivo crecimiento en la web hasta empresas de Fortune 500, confían en Engine Yard para incrementar su ventaja competitiva. Basados en San Francisco, Calif., Engine Yard es respaldado por BenchMark Capital, New Enterpise Associates y Amazon.com
      .clear