.center.main-section
  .main-header
    = image_tag 'Image_crowd.png'
  .content
    .inner-section 
      .half
        %p
          = image_tag "sponsors/nearsoft.svg"
          Imagina un lugar donde las personas dejan correr su creatividad e imaginación en cada aspecto de su vida laboral. Nearsoft es un socio innovador para compañías de software de clase mundial. Trabajamos con las últimas tecnologías en ambiente creativo y parecido a un startup, ya que permite contribuir en tu visión y tener un mayor impacto en el mundo. Amamos trabajar con quienes concuerdan con el sentimiento de desarrollo de software como lo hacemos nosotros, y ese es el porqué estamos aquí. Juntos podemos prosperar, desarrollar y entregar lo mejor a nuestros clientes.
      .clear