El Doctor Nic inspiró a muchos en su Conferencia Magistral al hablar sobre la motivación que debemos tener para ir “rápido” como desarrolladores.

Cuando empiezas a ver tu código pasado, y sigues pensando que es muy bueno, entonces, haz llegado a tu punto más alto como desarrollador.

Tal vez, uno de los consejos más sobresalientes fue que: “No puedes escribir el código de hoy, si sigues atorado en los problemas de ayer”.

Él nos contó su experiencia sobre cómo es que cada que veía una nueva gema, lenguage o plataforma, él revisaba si existía un TextMate Bundle. Si no existía uno, entonces él lo desarrollaba.

Su mensaje fue claro, la gente que hace Open Source es gente igual a tí ya mí.  Todo lo que debes hacer es tomar el teclado e iniciar algo.  En algún punto, alguien se unirá al proyecto y colaborará contigo.
