%li
  %a{:href => "/es/comunidad"} Comunidad
%li.spacer
  |
%li
  %a{:href => "/es/patrocinadores"} Patrocinadores
%li.spacer
  |
%li
  %a{:href => "/es/conferencias"} Conferencias Magistrales
%li.spacer
  |
%li
  %a{:href => "/es/galeria"} Galería
%li.spacer
  |
%li
  %a{:href => "/es/infografia"} Magma en Números
%li.spacer
  |
%li
  %a{:href => "/es/editorial"} Editorial
%li.spacer
  |
%li
  %a{:href => "/"} Portada
