%li
  %a{:href => "/es/patrocinadores"} Patrocionadores
%li
  %a{:href => "/es/tweets"} Retrospectiva
%li
  %a{:href => "/es/articulo"} Artículo
%li
  %a{:href => "/es/galeria"} Gallería
%li
  %a{:href => "/es/infografia"} Magma en Números
%li
  %a.selected{:href => "/es/editorial"} Editorial
%li
  %a{:href => "/"} Portada
