%li
  %a{:href => "/es/comunidad"} Comunidad
%li.spacer
  |
%li
  %a{:href => "#"} Patrocinadores
  %ul
    %li
      %a{:href => "/es/rubycentral"}
        %span Ruby Central
    %li
      %a{:href => "/es/crowdint"}
        %span Crowd Interactive
    %li
      %a{:href => "/es/github"}
        %span Github
    %li
      %a{:href => "/es/heroku"}
        %span Heroku
    %li
      %a{:href => "/es/ey"}
        %span Engine Yard
    %li
      %a{:href => "/es/allies"}
        %span Software Allies
    %li
      %a{:href => "/es/nearsoft"}
        %span Nearsoft
    %li
      %a{:href => "/es/aietic"}
        %span Aietic
%li.spacer
  |
%li
  %a{:href => "/es/conferencias"} Conferencias Magistrales
%li.spacer
  |
%li
  %a{:href => "/es/galeria"} Galería
%li.spacer
  |
%li
  %a{:href => "/es/infografia"} Magma en Números
%li.spacer
  |
%li
  %a{:href => "/es/editorial"} Editorial
%li.spacer
  |
%li
  %a{:href => "/"} Portada
/ .cssmenu
/   %ul
/     %li
/       %a{:href => "index.html"}
/         %span PORTADA
/     %li
/       %a{:href => "#"}
/         %span EDITORIAL
/     %li
/       %a{:href => "#"}
/         %span MAGMA EN NUMEROS
/     %li
/       %a{:href => "#"}
/         %span GALLERIA
/     %li
/       %a{:href => "#"}
/         %span RETROSPECTIVA
/     %li
/       %a{:href => "#"}
/         %span PATROCINADORES
/       %ul
/         %li
/           %a{:href => "#"}
/             %span RUBY CENTRAL
/         %li
/           %a{:href => "#"}
/             %span CROWD INTERACTIVE
/         %li
/           %a{:href => "#"}
/             %span HEROKU
/         %li
/           %a{:href => "#"}
/             %span GITHUB
/         %li
/           %a{:href => "#"}
/             %span SOFTWARE ALLIES
/         %li
/           %a{:href => "#"}
/             %span ENGINE YARD
/         %li
/           %a{:href => "#"}
/             %span NEARSOFT
/     %li
/       %a{:href => "#"}
/         %span COMUNIDAD
