La primer conferencia Magistral del evento. Scott Chacón nos dió una ligera probada de lo que es la cultura de Github.  Hay muchas cosas buenas sucediendo en esa oficina. Una de las cosas que más vale la pena mencionar es cómo la mayoría de las personas no cuentan con un espacio específico de trabajo. No tienen cubículos ni oficinas, sino solamente mesas y sillas por todos lados, para que puedas sentarte donde quieras.

Y para aquellos que no pueden hacer esto seguido por una razón en particular, se promueve la rotación de lugares periódicamente.

Los cuartos para sus juntas tienen “temas”, y mucho espacio para ser utilizado por los Githubers para divertirse mientras están en el trabajo.

No hay horarios, no hay juntas, no hay límite en los días de descanso... todo esto ayuda a darle forma a la cultura de Github y sus empleados.
