- content_for :seo do
  %title :: Magmazine ::
  %meta{:content => "eRevista de MagmaRails, las conferencias de Ruby y Ruby on Rails de México.", :name => "description"}/
  %meta{:content => "revista, web, development, ruby, rails, agile, vim, méxico, colima, desarrollo, conferencias", :name => "keywords"}/