%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june 2012
    %section.contentBy.span-24.last
      %p EDITORIAL CONTENT BY: Esteban, David Padilla, Juan Pablo, Tania, Karla Magaña, Haro & Mendo
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1= t ('editorial.title1')
    %span.title Editorial
    %address.author
      %span by Esteban Cortés
  %section.span-15.rey-banner
    = image_tag 'editorial.png'
  %section.edit-title.span-15
    %h2 Hello luchadores & luchadoras
  %section.textBox.twoColumn.span-15.prepend-7= t ('editorial.content_html')

= render 'partials/seo'
