%section.span-24.mainContent.coverM
  %img{alt: "edición noviembre - november issue", height: '677', width: '901', src: "images/cover.png"}
    %ul.spam-24.subTitles
      %li.bling
        = image_tag "star.png"
      %li#es-align
        %a{href: "es/editorial"} Español
      %li
        %a{href: "en/editorial"} English
      %li.bling
        = image_tag "star.png"
