%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span junio2012
    %section.contentBy.span-24.last
      %p Patrocinadores por: Esteban & Haro
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title3 Patrocinadores
    %span.title Aietic
    %address.author
      %span por Crowd
  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/aietic.svg"
        .half
          %p
            Asociación de la Industria Electrónica y de Tecnologías de la Información del Estado de Colima, AIETIC, A.C. También conocida como AIETIC, esta asociación tiene como objetivo general el "generar estrategias que permitan apuntalar esta industria en Colima, para así aprovechar las oportunidades de nuevos polos de desarrollo que puedan integrarse a la dinámica de la economía estatal". Con más de 20 empresas activas asociadas, la AIETIC se ha convertido en un impulsor de eventos en los que se logran crear sinergias laborales, beneficiando no solo a sus integrantes, sino a los usuarios de los servicios que cada empresa contiene.
            = link_to "Visita Nuestro Sitio", "http://www.aietic.org", :confirm => "Are you sure?", target: '_blank'
        .clear
