%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span junio2012
    %section.contentBy.span-24.last
      %p Patrocinadores por: Esteban & Haro
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Patrocinadores
    %span.title Software Allies
    %address.author
      %span por Crowd Interactive
  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/allies.svg"
        .half
          %p
            Software Allies es una consultoría en línea y proveedora de soluciones ubicada en los Estados Unidos con oficinas en Texas y México. Nuestro equipo diverso de expertos ofrece servicios de desarrollo de aplicaciones, aseguramiento de calidad, implementación, integración, diseño y entrenamiento. Al crear soluciones con las mejores plataformas en línea, puedes fácilmente saber que tus aplicaciones en la nube están en sistemas robustos. Usando metodología ágil con técnicas de punta de la industria y plataformas, hemos trabajado con nuestros clientes en una forma cercana para producir grandes soluciones ¡juntos!
            = link_to "Visita Nuestro Sitio", "http://www.softwareallies.com", :confirm => "Are you sure?", target: '_blank'
        .clear
