%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-7.prepend-7
      %span noviembre2011
    %section.contentBy.span-10.last
      %p Contenido: Jorge Pardiñas
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 México y los servicios
    %h1.title2 por internet
    %address.author
      %span por Jorge Pardiñas
  %section.textBox.span-15
    %h3 Introducción
    %p El internet es una herramienta que ha cambiado la manera en que el mundo se comunica, ha recortado las distancias para la humanidad, se ha convertido en  un herramienta indispensable en muchos sectores económicos, por no decir la gran mayoría, y ha llegado a posicionarse como uno de los medios de comunicación más importantes, incluso más que medios convencionales, como el periódico. Además ha creado nuevas maneras de compartir información, donde hacerlo en tiempo real y en cuestión de segundo es algo habitual para muchas personas.
    %p En sus inicios la web era estática, la mayoría de los sitios eran creados con un rudimentario HTML, no eran actualizadas frecuentemente y pocas personas eran las encargadas de subir, borrar y modificar la información.
    %p Toda la tecnología inicia un proceso de transformación, y como era de esperarse, el Internet no fue la excepción, ya que con la aparición de la web 1.5 las páginas web representan ya algo mas que solo mostrar información, dentro de sus objetivos son la de estética visual y número de visitas. Se empezaron a convertir en sitios dinámicos, ya que eran los inicios del uso de las bases de datos para guardar y presentar datos relevantes para los usuarios y el inicio del uso de lenguajes de programación completamente enfocados a Internet, como ASP y PHP.
    %p La Web presenta una evolución en sus aplicaciones tradicionales, que empezaron a enfocarse hacia las necesidades del usuario final, que como sabemos, es el principal protagonista. Cada vez fue mas común que encontremos sitios que ofrecían un valor agregado o un servicio, lo cual inicio cambios en la manera en que se hacían negocios y hasta como nos comportábamos dentro de la vida diaria.
    %p Hoy en día es muy usual encontrar sitios que ofrecen diversos servicios que ya son parte de nuestra cotidianidad, como lo son los streaming de películas, ver, modificar y compartir documentos en línea, comprar y descargar música, realizar transacciones a través de la banca por internet, entre muchos otros ejemplos. Aunque si lo analizamos a fondo nos daremos cuenta que la gran mayoría de estos sitios son americanos o europeos, pero, ¿porque no se crean este tipo de páginas en México?
    %h4 ¿Podría ser la falta de personal calificado?
    %p El nivel de los Ingenieros mexicanos queda comprobado cuando empresas internacionales como Siemens, Ooyala, HP, Tata y Oracle empiezan a crear oficinas de trabajo en nuestro país. Además cabe destacar el reclutamiento que realiza Microsoft en varias universidades de la república para contratar a Ingenieros recién egresados. Por otro lado, existen empresas 100% enfocadas en la tecnología, que han demostrado poder tener éxito, como lo son Hildebrando y Softtek.
    %h4 ¿Es entonces la infraestructura?
    %p La subscripción mensual a internet, con una velocidad de entre 2.5 y 15 Mbps cuesta en promedio $91.19 haciendo a México el país mas caro dentro de la Organización para la Cooperación y el Desarrollo Económico.
    %p Y no solamente es caro, México no esta posicionado como uno de los países con mejor velocidad en internet, si tomamos como referencia el índice de Net Index de Ookla, México tiene un promedio de velocidad de 4.29 Mbps, colocándose en el puesto 77 por abajo de países como Jamaica, Laos, Vietnam. Algo que resulta completamente increíble.
    %h4 ¿La cultura también afecta?
    %p La mayoría de los empresarios mexicanos no han llegado a entender el potencial real del internet como herramienta para poder ofrecer alternativas al comercio convencional, utilizan sus sitios únicamente como un medio de publicidad mas, en lugar de darle un valor agregado a su empresa.
    %p Por otro lado, en los usuarios mexicanos no se ha generado la confianza necesaria hacia Internet y tampoco exigen nuevas opciones que la empujen a nuevos límites.
    %p Y la gente con conocimientos técnicos viven en la comodidad de un empleo, con un sueldo fijo, con poca incertidumbre, y están poco dispuestos para correr el riesgo para emprender.
    %p Es necesario decir que falta un Mark Zukemberg mexicano, un ejemplo que le demuestre a los jóvenes mexicanos que es posible alcanzar el éxito a través de la innovación y el esfuerzo, no tomando ideas y creando copias al carbón de ellas.
    %h4 ¿El gobierno es un facilitador con su burocracia?
    %p Si en algún momento del proyecto se decide asentar formal y legalmente es un proceso realmente complejo, el nombre de la empresa se registra en la Secretaria de Relaciones Exteriores, tener que conseguir un notario, darse de alta en el SAT, abrir una cuenta bancaria empresarial y registrase en el IMSS, todo esto puede ser un procedimiento que puede tener una duración de varios meses.
    %p Y una vez y establecido, hay que encarar un sistema de impuestos complejo, donde no es claro como se debe de proceder y si no se cuenta con un contador talentoso puede ser bastante caro.
    %h3 Impulsores del cambio
    %p Hay personas que conociendo todas las complicaciones decidieron utilizar su experiencia y compartirlo con los interesados en emprender dentro del campo de las tecnologías. Algunos ejemplos son:
    %h3 Startup Weekend Mexico
    %p El objetivo principal es que construyas un negocio viable durante un fin de semana, y por otro lado permite que personas de perfil técnico, de diseño y de negocios se conozcan y se junten para desarrollarlo. Todo esto con la ayuda de mentores que te van guiando y asesorando.
    %h3 Startup Factory
    %p En startup factory se dedican a desarrollar y fondear proyectos tecnológicos en etapas muy tempranas de arranque. Basados en modelos como Y combinator, idealweb e Innovation works pero adaptado a las condiciones de México.
    %p Mediante asesoría con metodologías de Standford y de Silicon Valley ayudan a que el proyecto tenga un proceso de desarrollo optimo en áreas como el Comercial, Organizacional y en la construcción mismo del producto mediante iteraciones. Por medio de mentores técnicos y de negocios de alto perfil se obtiene retroalimentación, todo esto en un ambiente de trabajo con otras personas enfocadas en desarrollar nuevos proyectos en México en ambiente al estilo de Silicon Valley.
    %h3 Fondeadora
    %p Es una nueva forma de conseguir fondo para tu proyecto, no es vender ni conseguir inversionistas o un préstamo. Como creador tienes el control del desarrollo del proyecto, lo único que tienes que ofrecer son recompensas originales para atraer a posibles fondeaderos de tu proyecto, si no consigues el fondo que ocupas o lo superas en el tiempo limite, el dinero se reembolsa a los fondeaderos sin ningún, de esta manera, si no se llega a la meta, nadie esta comprometido a pagar nada.
    %h3 Startup dojo
    %p Es un programa intensivo de una semana, donde los participantes podrán desarrollar puntos muy específicos de su proyecto, con una serie de 10 sesiones con temáticas básicas, además facilitan asesorías y herramientas para el desarrollo del producto o servicio. El principal objetivo es que los participantes adquieran conocimientos prácticos para consolidar su proyecto. La ultima edición se realizo del 23 al 27 de Mayo en las instalaciones del CANIETI con 13 proyectos, la próxima edición de realizara en el otoño y actualmente está abierta la convocatoria.
    %h4 Pero si existen casos de éxito en nuestro país
    %p Sin lugar a dudas, existen ejemplos mexicanos de sitios que ofrecen múltiples funcionalidades mas allá de solo presentar información. Uno de los casos mas notables es el SAT, donde es posible realizar casi cualquier movimiento desde su portal, excepto la alta de contribuyentes, y donde el mismo sistema para los empleados está basado en web.
    %p Un sector que ha estado muy activo en este ramo, es el sector financiero, donde los bancos han invertido mucho en tecnología para tener banca en línea y hasta aplicaciones para teléfonos móviles.
    %p También me gustaría mencionar el esfuerzo que han hecho varios gobiernos estatales para hacer posible el concepto de e-government, que no solamente han aplicado innovaciones dentro de sus portales de Internet, además han creado Kioscos informáticos para realizar trámites de una forma más rápida y sencilla, evitando la burocracia.
    %h3 Conclusiones (o recomendaciones)
    %p México es un campo fértil para realizar proyectos tecnológicos, siempre buscando enfocarse en los problemas específicos de la región, aquellos problemas que se presentan en México. Es importante buscar la asesoría de gente especializada que puedan aconsejar el rumbo del proyecto para evitar tropiezos.
    / <address>David Padilla</address>
  / <footer class="span-15 prepend-7 articleNote">This is a note for the article</footer>