%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span junio2012
    %section.contentBy.span-24.last
      %p
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Comunidades
    %span.title Comunidad
    %address.author
      %span por David Padilla
  %section.span-15.banner-on
    = image_tag 'comunidades.png'
  %section.textBox.twoColumn.span-15
    %h3 Hola
    %p Como todos lo recuerdan, hace unos días se llevó a cabo en la ciudad de Manzanillo el evento Magma Rails 2012.
    %p Aunque no todo salió exactamente como lo habíamos planeado, el mensaje del evento fue claro: Todavía tenemos mucho por hacer en México para ponerlo en el mapa como potencia de desarrollo de software utilizando los frameworks modernos.
    %p Para nosotros en Crowd Interactive, organizar este evento los últimos 3 años ha sido toda una aventura. Aventura que, satisfactoriamente, poco a poco ha rendido frutos.
    %p Después del primer evento en el 2010, nació la primera comunidad de desarrolladores de Ruby del Estado de Colima. También se empezó a escuchar la voz de la comunidad de Tijuana, y ¿quién hubiera pensado que habría miembros de ambas en un mismo lugar de trabajo?
    %p Después del segundo evento que lamentablemente tuvimos que acortar debido al huracán Jova, se empezó a escuchar un poco más la voz de otras comunidades del país, como Bajío on Rails y Hermosillo.rb.
    %p El trabajo apenas comienza. Este año, Magma Rails nos dejó más tarea que nunca. La gente está empezando a poner atención y por lo mismo, está pidiendo cada vez más.
    %p Eso es bueno y malo a la vez. Bueno, porque todos sabemos que el mercado de programadores de Ruby on Rails en este momento es un océano de oportunidades. Malo porque no tenemos el suficiente nivel o recursos para cubrir la demanda.
    %p A partir de hoy, nosotros vamos a poner más de nuestra parte. Tenemos muchos planes. Vamos a organizar talleres y Code Retreats en todas las ciudades de México que podamos. Vamos a escribir artículos en español para compartir el conocimiento. Vamos a tener un podcast para que escuches lo más relevante del mundo de Ruby semana con semana. Vamos a hacer muchas cosas nuevas y diferentes.
    %p Pero el tiempo es limitado. La realidad es que, de día tenemos un empleo; y eventualmente también tenemos que cumplir con él.
    %p Así que te pido tu ayuda. Convence a tu jefe, explícale que debería estar aportando a esta causa, en vez de contratar costosos reclutadores para conseguir Ingenieros de Software. Tenemos que crear más, no darle vuelta a los pocos que existen.
    %p Los patrocinios no necesariamente deben ser monetarios. Cuando se organiza un Code Retreat, solo se necesita un espacio, café y comida para 20 personas. Cuando se organiza un taller, solamente se necesita el espacio y un poco de tiempo para que quien lo vaya a ofrecer se prepare.
    %p Crowd Interactive pausa sus operaciones normales toda una semana para que todos nuestros empleados se dediquen a apoyar en la logística de la conferencia, y sobre todo, disfruten del evento.  Tu empresa tal vez pueda darle un par de días a los interesados en ser promotores de talleres o code retreats.
    %p Convencete a ti mismo primero, luego a tu jefe; la verdad es que no cuesta mucho una hora por día para que aportes al open source, escribas un artículo o prepares un taller. Esto siempre genera resultados positivos.
    %p Apoya a tu grupo de usuarios local, si es que existe uno cerca de ti. Si no existe, no pierdas tiempo y crea uno. Puede que no seas el programador de Ruby más experimentado de tu ciudad, pero puede que seas el programador de Ruby más experimentado de tu colonia.
    %p Recuerda, esto es todo un movimiento que apenas comienza, y es un movimiento del que tenemos que ser parte todos. Busca la manera de colaborar, inicia actuando localmente, no cruces los brazos. No podemos desaprovechar este impulso que hemos tomado en los últimos 3 años.  ¿Qué esperas?
    %p Nos vemos en Magma Rails 2013.
    %p Saludos,
    %p David Padilla
= render '/partials/es/seo'
