%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span junio2012
    %section.contentBy.span-24.last
      %p
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Patrocinadores
    %span.title Crowd Interactive
    %address.author
      %span por Crowd Interactive
  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/crowd.svg"
        .half
          %p
            Somos una consultoría líder de Ruby on Rails establecida en México. Actualmente hacemos negocios con Startups de los Estados Unidos. Nos especializamos en crear y crecer aplicaciones de Rails, aumentando tu equipo de TI en sitio o remoto. Elegimos nuestros proyectos cuidadosamente, porque solo trabajamos con compañias en que creemos.
            = link_to "Visita Nuestro Sitio", "http://www.crowdint.com", :confirm => "Are you sure?", target: '_blank'
        .clear
