%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span Junio2012
    %section.contentBy.span-24.last
      %p Fotografias por: Tania, Haro & Mendo
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title3 Galeria
    %span.title Magma en Fotos
    %address.author
      %span po Crowds
  =render '/es/gallery'
= render '/partials/fancy-box'
= render '/partials/en/seo'
