%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span junio2012
    %section.contentBy.span-24.last
      %p Patrocinadores por: Esteban & Haro
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Patrocinadores
    %span.title Github
    %address.author
      %span por Crowd Interactive
  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/github.svg"
        .half
          %p
            Github es el mejor lugar para compartir código con amigos, compañeros de trabajo y de escuela, o con completos extraños. Más de un millón de personas usan Github para construir grandes cosas juntos. Con características colaborativas en Github.com, nuestras aplicaciones de escritorio y móviles, y Github Enterprise, nunca ha sido más sencillo para independientes y equipos escribir mejor código y rápido.Originalmente fundada por Tom Preston-Werner, Chris Wanstrath, y PJ Hyett para simplificar el código compartido, Github ha crecido hasta convertirse en el almacenamiento de código más grande del mundo.
            = link_to "Visita Nuestro Sitio", "http://www.github.com", :confirm => "Are you sure?", target: '_blank'
        .clear
