%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span junio2012
    %section.contentBy.span-24.last
      %p
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Patrocinadores
    %span.title Heroku
    %address.author
      %span por Crowd Interactive
  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/heroku.svg"
        .half
          %p
            Heroku (pronunciado her-OH-koo) es una plataforma de aplicaciones en la nube - una nueva forma de construir y lanzar aplicaciones web. Nuestro servicio permite a desarrolladores de aplicaciones ha estar el 100% de su tiempo en el código de su aplicación, sin necesidad de manejar servidores, instalar código para preparar ambientes de producción, realizando operaciones de entrada o escalando. Aprende más de nuestra arquitectura, precios y ecosistema de add-on. Heroku fue fundada en 2007 por Orion Henry, James Lindenbaum, y Adam Wiggins.
            = link_to "Visita Nuestro Sitio", "http://www.heroku.com", :confirm => "Are you sure?", target: '_blank'
        .clear
