%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-7.prepend-7
      %span noviembre2011
    %section.contentBy.span-10.last
      %p Gráficos: Karla Magaña - Recopilación de Info: Esteban Cortés
  .span-20.prepend-4
    %img{:alt => "Magma en Números", :height => "1667", :src => "/images/es-infography.png", :width => "787"}
      %div
= haml :'/partials/es/seo'