%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-7.prepend-7
      %span noviembre2011
    %section.contentBy.span-24.last
      %p Contenido editorial: Esteban, JP & Mendo
  .span-20.prepend-4
    %img{:alt => "Magma en Números", :src => "/images/magmazine-es.png", :style => "margin-top: 120px;"}
      %div
= render '/partials/es/seo'
