%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span junio2012
    %section.contentBy.span-24.last
      %p
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Patrocinadores
    %span.title Nearsoft
    %address.author
      %span por Crowd Interactive
  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/nearsoft.svg"
        .half
          %p
            magina un lugar donde las personas dejan correr su creatividad e imaginación en cada aspecto de su vida laboral. Nearsoft es un socio innovador para compañías de software de clase mundial. Trabajamos con las últimas tecnologías en ambiente creativo y parecido a un startup, ya que permite contribuir en tu visión y tener un mayor impacto en el mundo. Amamos trabajar con quienes concuerdan con el sentimiento de desarrollo de software como lo hacemos nosotros, y ese es el porqué estamos aquí. Juntos podemos prosperar, desarrollar y entregar lo mejor a nuestros clientes.
            = link_to "Visita Nuestro Sitio", "http://www.nearsoft.com", :confirm => "Are you sure?", target: '_blank'
        .clear
