%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-7.prepend-7
      %span noviembre2011
    %section.contentBy.span-10.last
      %p Recopilación por: Tania, JP
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Retrospective
    %span.title Editorial
    %address.author
      %span por Tania y JP
  %section.textBox.span-17.last
    %h2 ¿Cuál conferencia te gustó más, y porqué?
    %ul.treeColumn
      %li
        Mario Chavez because he was who propose more things about RoR
      %li
        “Ruby y Mezcal” because it was entertaining and included the audience. Spoke about code and was very conceptual and very funny
      %li
        Jon Dean... he presented interesting topics and a lot of examples.
      %li
        In general i liked all the conferences, but it caught my attention in “Passionate Programmer” and “Ruby & Mezcal”.
      %li
        Jon Dean: Haml and SASS topic, because it will be very useful at work.
      %li
        John Dean’s, because even though i don't know a lot of front-end, he made me feel that I can learn SASS.
      %li
        Jon Dean because he talked 100% about what Ruby on Rails’s world is.
      %li
        Emmanuel’s because it was funny and quickly.
      %li
        Mario Chavez - easy to understand, enjoyable.
        Jone Dean - interesant, enjoyable, easy to understand.
        Marcelo Moraes - dinamic, interactive.
        Chischascos - easy to understand, enjoyable.
      %li
        Rafa’s Intro to Ruby because it is what every Rails developer needs to know about Ruby from the bottom. Paco’s Ruby & Mezcal the same because he cheered everyone to know and learn Ruby / Rails. RoR makes me happy because he make the people interested about to know and learn Ruby-Rails
      %li
        Paco Viramontes’s, because it was enjoyable.
      %li
        Tame the Rabbit, the topic was very interesting I have quite a lot of years as a developer in distributed apps in general, I use   others languages and technologies and to know that we have other options as Ruby on Rails, I like it a lot.
      %li
        All the conferences but in special Design Patterns, Tame The Rabbit and Jonathan Dean’s
      %li
        I liked a lot Kid Pollo’s because I liked the way how we introduced himself as a programmer language.
      %li
        I like several conferences. The topic what caught more my attention was Blake Mizerany’s topic because all the experience he has, also I like @kidpollo (Ruby & Mezcal), Mario Chavez and Edwin’s conferences.
      %li Edwin’s and I like it because it was very honest in treating the topic of Passionate Programmer but the most applauded was Emmanuel’s with his great experience and facility to explain a complicated topic as it is Design Patterns. Congratulations for that incredible speak.
  / <footer class="span-15 prepend-7 articleNote">This is a note for the article</footer>
= haml :'/partials/es/seo'