%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-7.prepend-7
      %span noviembre2011
    %section.contentBy.span-10.last
      %p Recopilación por: Tania, JP
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Retrospective
    %span.title Editorial
    %address.author
      %span por Tania y JP
  %section.textBox.span-17.last
    %h2 ¿Cuál conferencia te gustó más, y porqué?
    %ul.treeColumn
      %li
        La de Mario Chavez, por que creo que es la que propuso más  cosas.
      %li
        La de  “Ruby & Mezcal, por que estuvo  amena e incluyó  a los   asistentes, habló de código y fue conceptual además de que fue divertida.
      %li
        Jon Dean... presentó temas interesantes y con muchos ejemplos.
      %li
        En general todas me gustaron, pero llamaron mi atención la de “Programador Apasionado” y “Ruby & Mezcal”.
      %li
        Jon Dean: Haml y SASS, por que el tema que manejó es de mucha utilidad en mi trabajo.
      %li
        La de Jon Dean, por que aún que tengo pocos conocimientos de front-end, me hizo sentir que sí puedo aprender sobre SASS, principalmente.
      %li
        La de Emmanuel, por que fue divertida y rápida.
      %li
        Mario Chavez - digerible, amena.
        Jon Dean - concisa e interesante, amena.
        Marcelo Moraes - dinámica, interactiva.
        Chischascos - digerible, amena.
      %li
        Intro a Ruby de Rafa por que todo desarrollador Rails necesita saber muy bien Ruby desde abajo. Ruby & Mezcal de Paco por que fue muy divertida y conceptual. “RoR makes me happy” igual por que anima a la gente a conocer y aprender Ruby / Rails.
      %li
        La de Paco viramontes, pues estuvo muy amena.
      %li
        Tame the Rabbit, el tema se me hace muy interesante, llevo muchos años con aplicaciones distribuidas, generalmente ocupo otros lenguajes y tecnologías, y saber que ya hay opciones en Ruby, mi lenguaje favorito, me agrado muchísimo.
      %li
        Todas, pero en especial la de “Patrones de Diseño”, la de “Tame the Rabbit” y la de Jonathan Dean.
      %li
        Me gusto mucho la de Kid Pollo por como se representó como lenguaje de programación.
      %li
        Hubo varias, una de las que me más me llamó la atención fue la de Blake Mizerany por la experiencia que él tiene, también me gustaron la de @kidpollo (Ruby & Mezcal), Mario Chavez y Edwin.
      %li
        Edwin y me gustó por que fue muy honesta respecto a la forma de tratar el tema de “Programador Apasionado”, pero la que se llevó las palmas fue la de Emmanuel con su gran experiencia y facilidad de explicar un tema complicado como lo es “Diseño de Patrones”, muchas felicidades por esa increible platica
  / <footer class="span-15 prepend-7 articleNote">This is a note for the article</footer>
= haml :'/partials/es/seo'
