body {
  background: url(../images/bkg.jpg) repeat 0 0;
  #scott-slides{
    .erase{
      display: none;
    }
    .add{
      display: block;
    }
  }
}

.black-header{
  background: url(../images/top-bkg.png) repeat-x;
  width: 100%;
  display: block;
  height: 60px;
}

header#topHead {
  height: 60px;
  position: relative;
  .magmaLogo {
    margin-top: 18px;
    position: absolute;
    margin-left: 25px;
    left: -20px; }
  nav {
    font-family: "Trebuchet MS";
    font-size: 12px;
    text-transform: uppercase;
    margin: 19px 57px 18px -195px;
    ul {
      margin: 0;
      padding: 0; }
    li {
      float: right;
      padding: 0 5px;
        &.spacer {padding: 0;
        }
        &.social a{
          padding-right: 5px;
        }
      list-style-type: none;
      a {
        color: #202020;
        text-decoration: none;
        &:hover{
         color: #ed8b09;
        }
        &.selected {
          color: #ed8b09; } } } }//nav
}//TopHead

section {
  &.coverM {
    margin-top: -50px;
    text-align: center;
    overflow: hidden;
    min-height: 600px;
    ul a {
      color: #202020;
      text-decoration: none; } }
  &.mainContent {
    min-height: 780px;
    .move-on{
      img{
        position: relative;
        right: 100px;
        margin-top: 0 !important;
      }
    }
    border-top: 1px solid #dedad6;
    padding-top: 1px;
    img.coverM {
      margin-top: 20px; }
    .monthlyNo span {
      font-family: "Trebuchet MS";
      color: black;
      font-size: 10px;
      text-transform: uppercase;
      position: relative;
      left: 104px;
      top: 5px;
      line-height: 23px; }
    .contentBy {
      border-bottom: 1px solid #9c9d9e;
      color: #343433;
      font-size: 10px ;
      font-family: "Trebuchet MS";
      position: relative;
      display: block;
      overflow: hidden;
      border-top: 1px solid #9C9D9E;
      height: 38px;
      bottom: 25px;
      p {
        padding-top: 9px;
        font-size: 11px;
        text-align: right;
      } }
    ul.subTitles {
      text-align: center;
      top: -187px;
      position: relative;

      li {
        &#es-align{
          margin-right: 100px;
        }
        font-family: Letter Gothic Std;
        font-size: 24px;
        text-transform: uppercase;
        display: inline;
        text-align: center;
        padding: 0 20px 10px 20px; } } } }

.banner-on{
  margin-left: -21px;
  margin-top: 26px;
  position: relative;
  top: -44px;
}
.rey-banner{
  position: relative;
  top: 7px;
}
.edit-title{
  text-transform: uppercase;
  position: relative;
  top: 14px;
  left: 280px;
  font-family: 'Trebuchet MS';
}
.articleTitle, .textBox {
  margin-top: 1px; }

.articleTitle {
  .speaker {
    text-align: right;
    cursor: pointer;
    width: 190px;
    height: 202px;
    p{
      display: none;
    }
    &:hover{
      background: #f7941d;
      opacity: 0.2;
      width: 190px;
      height: 202px;

      p{
        color: black;
        font-family: 'Anton';
        display: block;
        font-size: 16px;
        opacity: 1;
        position: relative;
        top: 175px;
        right: 80px;
      }
    }
  }
  ul {
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: relative;
    right: 34px;
    width: 225px;
    z-index: 200;
    li {
      border-bottom: 1px solid #9C9D9E;
      list-style-type: none;
      float: none;
      padding: 0px;
      width: 225px;
      text-align: right;
      span{
        cursor: pointer;
        position: relative;
        bottom: 10px;
        margin-left: 5px;
        margin-bottom: 5px;
        text-transform: uppercase;
        vertical-align: middle;
        font-family: 'Trebuchet MS';
        font-size: 11px;
      }
      img {
        margin-left: 9px;
        margin-right: -9px;
      }
      a {
        cursor: pointer;
        width: 225px;
        height: 40px;
        margin-top: 5px;
        color: black;
        text-decoration: none;
        height: 35px;
        font-size: 12px;
        font-style: normal;
        padding: 0px 10px 0px 15px;
        &:hover {
          color: #ed8b09;
          text-decoration: none;
          vertical-align: middle;
        }
      }
    }
    }//aside left sponsors menu
  h1 {
    font-size: 36px;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: 'Anton';
    overflow: hidden;
    display: block;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    letter-spacing: -1px;
    word-wrap: break-word;
    &.title1 {
      font-size: 36px;
      color: #3F3F3F;
      line-height: 32px;
      text-align: right;
    }
    &.title2 {
      font-size: 64px;
      color: #d79e3d; }
    &.title3 {
      font-size: 36px;
      color: #3F3F3F;
      font-weight: 400;
      line-height: 69px;
      writing-mode: tb-rl;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); } }
  span.title {
    line-height: 22px;
    margin-top: 2px;
    display: block;
    text-align: right;
    color: #ED8B09;
    font-family: 'Bevan', serif;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
  }
  address {
    display: block;
    background: url(../images/address_bkg.png) repeat-x 0 4px;
    height: 15px;
    span {
      text-transform: uppercase;
      font-size: 10px;
      font-family: 'Trebuchet MS';
      float: right;
      padding: 0 0 0 5px; } } }

.textBox.keynote {
    margin-top: 60px;
  }

.articleTitle.keynote {
  margin-top: 10px;
}

.textBox {
  .summary {
    .bar-line{
      position: relative;
      left: 280px;
      top: 282px;
      width: 65%;
      height: 50px;
      display: block;
      background: white;
      opacity: 0.6;
    }
    img {
      width: 65%;
      display: none;
      &.active {
        display: block;
      }
    }
    p {
      margin-top: 25px;
      display: none;
      &.active {
        display: block;
      }
    }
  }
  p {
    font-family: 'Trebuchet MS';
    font-size: 11px;
    color: #444040; }
  address {
    font-family: 'Tahoma', Arial, sans-serif;
    font-size: 20px; } }

.images {
  margin-top: 118px; }

.magmaPhoto img {
  padding-top: 20px; }

footer.articleNote {
  color: #85817e; }

.twoColumn {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em; }

.treeColumn {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em; }

ul.treeColumn {
  border: none;
  li {
    text-align: center;
    font-family: 'Courier', serif;
    margin-bottom: 8px;
    padding-bottom: 34px;
    background: url(../images/tweet.png) no-repeat center bottom; } }

.main-section{
  .sponsoring{
    span{
      display:none;
    &.active{
        display:block;
      }
    }
  }
  .half{
    width: 600px;
    margin-left: 270px;
    p {
      img{
        float: left;
      }
      float: right;
      font-family: 'Trebuchet MS';
      width: 600px;
      text-align: left;
    }
  }
}
footer#footer {
  .black-footer{
    background: url(../images/bottom-bkg.png) repeat-x;
    width: 100%;
    display: block;
    height: 54px;
    position: relative;
    bottom: -50px;
  }
  margin-top: 80px;
  padding: 6px 0 10px 0;
  .container {
    p {
      text-align: right; }
     }
  ul {
    border-top: 1px solid #9C9D9E;
    li {
      margin-top: 20px;
      margin-right: 18px;
      float: left;
      list-style-type: none; }
    float: left;
    list-style-type: none; } }

