%ul
  - @translations.each do |translation|
    %li
      - clazz = translation == @translation ? 'selected' : ''
      = link_to "#{translation.locale}.#{translation.key}",
        edit_filtered_translation_path(translation), class: clazz
