!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title :: Magmazine ::
    %link{:href => "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/styles.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 8]
      <link href="stylesheets/ie.css" rel="stylesheet" type="text/css" />
%body
  %section.container
    %img{:src => '/images/ko.png'}