%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june2012
    %section.contentBy.span-24.last
      %p
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Sponsors
    %span.title Aietic
    %address.author
      %span by Crowd Interactive

  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/aietic.svg"
        .half
          %p
            Asociación de la Industria Electrónica y de Tecnologías de la Información del Estado de Colima, AIETIC, A.C. Also known as AIETIC, this association has the general objective of "generating strategies that allow the development industry to grow firmly in Colima, in such a way that we can all take advantage of new opportunities, that can be integrated into the local State economy". With over 20 active companies associated, AIETIC has become a facilitator for this kind of events, in which new synergies are formed, benefiting not only the associates, but also the users that each company has.
            = link_to "Visita Nuestro Sitio", "http://www.aietic.org", :confirm => "Are you sure?", target: '_blank'
        .clear
