%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june2012
    %section.contentBy.span-24.last
      %p
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Sponsors
    %span.title Software Allies
    %address.author
      %span by Crowd Interactive

  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/allies.svg"
        .half
          %p
            Software Allies is a cloud consultant and solution provider based in the US with offices in Texas and Mexico. Our diverse team of experts offers services for application development, quality assurance, implementation, integration, design and training. By creating solutions on the best cloud platforms available, you can rest easy knowing your cloud applications are on robust systems. Using an agile methodology with industry-leading technologies and platforms, we work closely with our clients to produce great solutions together!
            = link_to "Visit Our Site", "http://www.softwareallies.com", :confirm => "Are you sure?", target: '_blank'
        .clear
