%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-7.prepend-7
      %span november2011
    %section.contentBy.span-10.last
      %p Content by: Jorge Pardiñas
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 México & Internet
    %h1.title2 Services
    %address.author
      %span by Jorge Pardiñas
  %section.textBox.span-15
    %h3 Introduction
    %p Internet is a tool which changed the way the world communicates closing distance between mankind. It has converted in an indispensable tool for many economic sectors if not saying all of them even the conventional media like newspaper. And has created new forms of sharing information, where to do it in real time and in a second is something normal for many people.
    %p In it’s beginnings the web was static. Most of the sites were created with rudimentary HTML. They werent frecuently updated and few people were in charge of uploading, erasing and editing the information.
    %p All the tecnology began in a transformation process and as expected Internet wasnt the exception because with the apparition  of web 1.5, websites represented something more than just showing information: now it was number of visits and visuals. They evolved into dinamic sites because it was the beginning of the data base use: storing and presenting important data from users and the beginning of programming languages completly focus in to the Internet like ASP and PHP.
    %p The web presented an evolution in its traditional applications which started to focus in final user needs as we know the main player. Each time was very common to find sites with plus value or service which started to change in how bussiness were made  and also to change our daily behavior.
    %p Today it is usual to find sites offering plenty services which are part of our life like movie streams, view-edit-share online docs, buy & download music, Bank Online transactions, etc. And if we analize deeply we will find must of this sites are North American or European but why Mexico doesnt create this kind of sites?
    %h4 Could be it the lack of qualified personnel?
    %p The level of mexican engineers is showed when international corporations like Siemens, Ooyala, HP, Tata and Oracle begin to build offices in our country. Also demostrated with Microsoft’s recruitment programs done in several universities of Mexico to hire recently graduated engineers. In other hand there are 100% technological focused corporations like Hildebrando and Softtek which demostrate the obtained success.
    %h4 Is it the infrastructure?
    %p Internet monthly subscription with a speed between 2.5 and 15 Mbps costs $91.29 aprox, proyecting Mexico as the country with the most expensive Internet service in the Organisation for Economic Co-operation and Development. And it is not only expensive Mexico has an average of 4.29 Mbps speed which posts it in the place number 77 under countries like Jamaica, Laos and Vietnam. Something really amazing.
    %h4 ¿Culture does affect it too?
    %p Most of mexican bussinessmen havent got the real potential of the Internet as a tool of sharing alternatives to conventional commerce. They use sites only for publicity instead of adding a plus value to their company.
    %p By other way in the mexican users havent got all the necessary trust to Internet and neither exist new options to push it to new limits. And those with technical knowledge live with the comodity of a job with a stable payment few interest in a better life and to risk in entrepreneuring.	We need a Mexican Mark Zukenberg to make an example to mexican youth of how getting successful by innovation and effort not by stealing ideas and benchmarketing them.
    %h4 ¿Goberment is a burocracy facilitator?
    %p If the project needs to be settled legally and formally it is a complex procedure which can take several months. Once settled we have to face to a complex tax system in which it is not clear how to procede and if we dont have a talented accountable it can be very expensive.
    %h3 Drivers of change.
    %p There are people who knew all complicactions decided to use their experience and share it to those interested in entrepreneur in the technological field. Some examples are:
    %h3 Startup Weekend Mexico
    %p The main objective is to create a viable bussiness in one weekend and it makes people with different profiles to meet and develop it. This is done with the help of instructors guiding and advise.
    %h3 Startup Factory
    %p In Startup Factory they are dedicated to develop and funding technological projects in early stages of rising. Based in models like Y Combinator, Idealweb and Innovation Works but adapted to Mexico’s conditions.
    %p With advise in Standford and Sillicon Valley’s methodologies they help the project to have an optimal development procedure in areas like Commercial, Organisational and development of the product with iteratives. Feedback is obtained eith high profile bussiness and technical mentors all this is done in a work place with other people focused in develop new projects in Mexico with Sillicon Valley’s style.
    %h3 Fondeadora
    %p It is a new form of getting funds for our project it is not selling neither getting investors or a loan. As the project creator you have the control to develop it the only thing you have to do is offer original rewards to attract posible funding to your project. If the funding necessary is not obtained or limit superated the money is returned to the funders without problems. This way if the goal isnt accomplished nobody is obligated to pay.
    %h3 Startup dojo
    %p This is a intensive week program where attendees can develop specific points of their project with a serie of 10 sessions of basic topics, also facilitate advise and tools for product development or service. The principal objetice is that attendees gain practical knowledge to consolidate their project. The last edition was made May 23 to 27 in the CANIETI facilities with 13 projects. The next edition will be in fall and the announcement is open.
    %h4 But YES! there are successful projects in our country!
    %p Without doubt there are mexican examples of sites which offer multiple functionalities more than providing information. A clear example of this is SAT, in where any thing can be done in their site. Except for registering new tax payers. The employee’s system is web based.
    %p A sector more active in this branch is the Finantial where banks have invested a lot in online bank services and also in mobile apps.
    %p I would like to mention the effort of several State Governments for making posible the concept of e-government bye creating informatic places to make procedures in a easy and fast way avoiding burocracy.
    %h3 Conclutions (or suggestions)
    %p Mexico is a fertil zone to technological projects always looking to focus in specific problems of the region those who are common in Mexico. It is important to look for advise of specialized people who can guide our project to avoid problems. A very important point to enforce our project is to asociate with skilled people in which we dont have their skills.
    / <address>David Padilla</address>
  / <footer class="span-15 prepend-7 articleNote">This is a note for the article</footer>
= haml :'/partials/en/seo'