%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june2012
    %section.contentBy.span-24.last
      %p Community content by: David Padilla
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Communities
    %span.title Community
    %address.author
      %span by David Padilla
  %section.span-15.banner-on
    = image_tag 'comunidades.png'
  %section.textBox.twoColumn.span-15
    %h3 Hello
    %p As you all remember, a few days ago we held Magma Rails 2012 in Manzanillo, Colima, México.
    %p Although it did not went as expected (a few technical issues, we know, we know), the message was clear: We still have a lot to do in order to put Mexico in the map as a Ruby and Rails development source.
    %p For us at Crowd Interactive, organizing this event in the last 3 years has been quite an adventure.  An adventures that has, satisfactorily, given us many positive results.
    %p After the first event in 2010, the first Ruby Community of the State of Colima was born.  The voice of the Tijuana.rb community began to have an echo as well. And who would have thought that the members of both communities would end up working in the same place?
    %p Then, we sadly had to cancel our second round due to Hurricane Jova.  But, other communities began manifesting their interest in being part of this effort.  Such as Bajío on Rails and Hermosillo.rb.
    %p This is just the beginning.  This year, Magma Rails left us with even more homework than ever.  We are being heard, and because of that, people are asking for more!
    %p This is good and bad at the same time. Good, because we all know that the market for RoR developers at the moment is an ocean of opportunity.  Bad, because we have not achieved the right level or produced enough resources to attend the demand.
    %p From this day on, we at Crowd Interactive will do more about it.  We have a lot of plans.  We are going to organize workshops and Code Retreats in every Mexican city that we can.  We are going to blog in spanish in order to share knowledge.  We are going to have a podcast in spanish so that we can deliver the most important news of the Ruby world week after week.  We will do many new and different things.
    %p But, time is limited.  Reality is that, we have a day job; and we do have a commitment with our clients.
    %p So, I ask for your help.  You have to convince your boss that the movement is real. Let him know that instead of hiring expensive Head Hunters or Recruiters to increase the IT crew, the investment should be directed towards community efforts.
    %p We have to create more developers, not steal and borrow the few that are already available.
    %p Sponsoring these events is not only related to money.  When a Code Retreat is organized, we only need a proper space, coffee and decent food for 20 people.  When organizing a work shop, we just need the space and time for the facilitator to prepare for it.
    %p Crowd Interactive pauses all normal operations for a full week so that every developer can dedicate their time to help out with the logistics of the conference, and above all, can enjoy the event.  Your company might be able to allow a couple of days to those whom are promoting and facilitating community efforts.
    %p Convince yourself first, then your boss. Truth is, one hour a day is not very expensive if you dedicate it to Open Source projects, writing a blog post or preparing a work shop. This always generates very positive results, that cannot be price tagged.
    %p Support your local development community, if one exists.  If it doesn’t, don’t loose time and create one. You might not be the most experienced RoR developer in your town, but you might be the best one in your neighborhood.
    %p Remember, this is a movement that is barely beginning, and we ALL have to be a part of it.   Look for ways in which you can collaborate; start acting locally, don´t just cross your arms and wait for it to hit you.  We can’t ignore the impulse that this movement has achieved in the last 3 years. What are you waiting for?
    %p See you at Magma Rails 2013.
    %p Regards,
    %p David Padilla
= render '/partials/en/seo'
