%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-7.prepend-7
      %span november2011
    %section.contentBy.span-10.last
      %p Editorial content by: Tania, Karlas (2), Haro & Mendo
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 The Recount of the Damages
    %span.title Editorial
    %address.author
      %span by Esteban Cortés
  %section.textBox.twoColumn.span-15
    %h3 Hello luchadores & luchadoras,
    %p Greetings from the Magma Rails Crew!  We have had a little more time to regroup and gain force to think about Magma Rails Round 3. However before anything happens we would like to introduce you to this little product called Magmazine.


    %p But before anything else, we would like to take some time to thank all of those who traveled from their comfortable homes and spent the night of Tuesday October 11 in Manzanillo or Colima, when Jova hit.  We know that we can’t get you your time back; therefore we have a huge commitment to organize a high quality event and we hope not to let you down.


    %p Sorry for those who during their journey, had to get back to their home. It wasn’t our intention to cancel the event, but the information and recommendations provided by authorities guided us to make all the decisions. The cancellation was something that happened as a result of Hurricane JOVA landing in Manzanillo and the effects of it.


    %p Those who made it to the “2da Caída”: thank you very much for the effort. We couldn’t have done it without you, litteraly. And we wouldn’t let the opportunity pass to listen the talks of those whom were chosen to give their talks in one long conference day.


    %p To the speakers: Thank you for coming and speak for such a small crowd and in a less conventional space. Because of people like you developer communities exist as an authentic knowledge and product sharing.
     
    %p This Magmazine is a humble effort to provide a product which helps to remember the experience for those who came, and it is a window for those that couldn’t. We hope in our hearts this pleases you.  Don’t forget that you can always send us suggestions and constructive critics to
    %a{:href => "mailto:info@magmarails.com"} info@magmarails.com
    / <address>David Padilla</address>
  / <footer class="span-15 prepend-7 articleNote">This is a note for the article</footer>
= haml :'/partials/en/seo'
