%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june2012
    %section.contentBy.span-24.last
      %p
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Sponsors
    %span.title Engine Yard
    %address.author
      %span by Crowd Interactive
  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/ey.svg"
        .half
          %p
            Engine Yard is the leading Platform as a Service (PaaS), empowering software application innovation more rapidly, easily and cost effectively. With deep technical expertise, powerful infrastructure orchestration, strong support of the open source community, and world-class service, Engine Yard provides a complete commercial grade solution that enables developers to focus on creating great applications, instead of managing their platform. Thousands of customers in 58 countries, from explosive-growth Web startups to Fortune 500 enterprises, rely on Engine Yard to leverage the cloud for competitive advantage. Headquartered in San Francisco, Calif., Engine Yard is backed by Benchmark Capital, New Enterprise Associates and Amazon.com.
            = link_to "Visit Our Site", "http://www.engineyard.com", :confirm => "Are you sure?", target: '_blank'
        .clear
