%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june2012
    %section.contentBy.span-24.last
      %p Sponsors by: Esteban & Haro
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Sponsors
    %span.title Heroku
    %address.author
      %span by Crowd Interactive

  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/heroku.svg"
        .half
          %p
            Heroku (pronounced her-OH-koo) is a cloud application platform – a new way of building and deploying web apps. Our service lets app developers spend 100% of their time on their application code, not managing servers, deployment, ongoing operations, or scaling.Learn more about our architecture, pricing, and add-ons ecosystem. Heroku was founded in 2007 by Orion Henry, James Lindenbaum, and Adam Wiggins.
            = link_to "Visit Our Site", "http://www.heroku.com", :confirm => "Are you sure?", target: '_blank'
        .clear
