%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-7.prepend-7
      %span november2011
    %section.contentBy.span-24.last
      %p Editorial content by: Esteban, JP & Mendo
  .span-20.prepend-4.move-on
    %img{:alt => "Magma in Numbers", :src => "/images/magmazine_en.png",  :style => "margin-top: 120px;"}
      %div
= render '/partials/en/seo'
