%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-7.prepend-7
      %span november2011
    %section.contentBy.span-10.last
      %p Graphic content: Karla Magaña - Info content: Esteban Cortés
  .span-20.prepend-4
    %img{:alt => "Magma in Numbers", :height => "1667", :src => "/images/en-infography.png", :width => "787", :style => "margin-top: 120px;"}
      %div
= haml :'/partials/en/seo'
