%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june2012
    %section.contentBy.span-24.last
      %p Sponsors by: Esteban & Haro
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Sponsors
    %span.title Nearsoft
    %address.author
      %span by Crowd Interactive

  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/nearsoft.svg"
        .half
          %p
            Imagine a place where people let their creativity and imagination run rampant in every aspect of their worklife. Nearsoft is an innovation partner for world-class software product companies. We work with bleeding edge technologies in a startup-like and creative environment that let you contribute to our vision and make an impact on the world. We love to engage with others who feel about software development like we do, and that is why we are here. Together we thrive, develop and deliver only the best quality for our clients.
            = link_to "Visit Our Site", "http://www.nearsoft.com", :confirm => "Are you sure?", target: '_blank'
        .clear
