%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june2012
    %section.contentBy.span-24.last
      %p Sponsors by: Esteban & Haro
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title3 Sponsors
    %span.title Ruby Central
    %address.author
      %span by Crowd

  .center.main-section
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/rubycentral.svg"
        .half
          %p
            Ruby Central is an organization dedicated to Ruby support and advocacy. They run the annual RubyConf and RailsConf conferences in addition to managing rubygems.org.
            = link_to "Visit Our Site", "http://www.rubycentral.org", :confirm => "Are you sure?", target: '_blank'
        .clear
