%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june2012
    %section.contentBy.span-24.last
      %p Photos by: Esteban & Mendo
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Sponsors
    %span.title Our Sponsors
    %address.author
      %span by Crowd Interactive

  .center.main-section
    .main-header
      %hr3 Sponsors
      = image_tag 'top_line.png'
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/crowd.svg"
        .half
          %h3 Crowd Interactive
          %p
            We are a leading Ruby and Rails consultancy firm based in Mexico. Currently doing business with Startups in the United States. We specialize in building and growing Rails applications, by increasing your IT crew onsite or offsite. We pick our projects carefully, as we only work with companies we believe in.

          //= link_to (http://www.crowdint.com), target: '_blank'
        .clear
